<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ds.base.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>IBSession.swift</string>
						<string>IBString.swift</string>
						<string>IBView.swift</string>
						<string>IBViewController.swift</string>
						<string>IBError.swift</string>
						<string>ServiceManager.swift</string>
						<string>TestDir</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>TestDir</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TestDir</string>
			</array>
			<key>Path</key>
			<string>TestDir</string>
		</dict>
		<key>IBSession.swift</key>
		<dict>
			<key>Path</key>
			<string>IBSession.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>IBString.swift</key>
		<dict>
			<key>Path</key>
			<string>IBString.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>IBView.swift</key>
		<dict>
			<key>Path</key>
			<string>IBView.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>IBViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>IBViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
			</array>
		</dict>
		<key>ServiceManager.swift</key>
		<dict>
			<key>Path</key>
			<string>ServiceManager.swift</string>
			<key>Group</key>
			<array>
				<string>ServiceManager</string>
			</array>
		</dict>
		<key>IBError.swift</key>
		<dict>
			<key>Path</key>
			<string>IBError.swift</string>
			<key>Group</key>
			<array>
				<string>ServiceManager</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
